#startGameButton
{
    margin: 15px;         
}
#gameModeForm
{
    display: inline-block;
}
#boardsvg
{
    height: 400px;
    width: 400px;
}
#reset
{
    display: none;
}
#resetGameForm
{
    display: inline-block;
}