<!DOCTYPE html>
<html>
    <title>pychessbot</title>
    <link rel="stylesheet" href="../static/styles/stylesheet.css">

    <body>
        <h1>PyChessBot</h1>
        <label for="gamemode">Select game mode: PyChessBot vs. </label>

        <form method="POST" id="gameModeForm" target="moveHistory">
            <select name="gamemode" id="gamemode">
                <option value="self">Itself</option>
                <option value="player" selected>You</option>
                <option value="sunfish">Sunfish Engine</option>
            </select>
            <input type="submit" id="startGameButton" value="Start Game">
        </form>

        <form method="POST" id="resetGameForm" target="moveHistory">
            <select name="reset" id="reset">
                <option value="yes"></option>
            </select>
            <input type="submit" id="resetGameButton" value="Reset Game" disabled="disabled">
        </form>
        <br>
        
        <div id="playerMoveDiv">
            <form method="POST" id="playMoveForm" target="moveHistory">
                <label for="enteredMove">Your move:</label>
                <input type="text" id="enteredMove" name="enteredMove" placeholder="format like 'd2d4'">
                <input type="submit" value="Play move" id="playMoveButton" disabled="disabled" style="margin-left: 15px;">
            </form>
        </div>
        <br>

        <div style="float: left">
            <img src="../static/board.svg" id="boardsvg" alt="img">
        </div>

        <label style="margin-left: 10px; float: left;">Move history</label>
        <br>
        <iframe style="margin-left: 10px; float: left;" name="moveHistory" id="moveHistory" height="350" width="300"></iframe>


    </body>

    <script type="text/javascript" src="../static/index.js"></script>

</html>