<!DOCTYPE html>
<html>
    <title>pychessbot</title>
    <body>
        <h1>PyChessBot</h1>
        <label for="gamemode">Select game mode: PyChessBot vs. </label>
        <select name="gamemode" id="gamemode">
            <option value="player">You</option>
            <option value="self">Itself</option>
            <option value="model">Different Model</option>
            <option value="sunfish">Sunfish Engine</option>
        </select>
        <br></br>
        <input type="submit" value="Start game">
        <br></br>
        <object data="static/board.svg", width="400" height="400"></object>
    </body>
</html>